/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap');

/* variables css */
:root {
  /* primary colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* neutral colors */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  /* font and typography */
  --body-font: 'Spartan', sans-serif;
  --copy-font-size: 1.5rem;

   /* font weight */
   --font-regular: 400;
   --font-medium: 500;
   --font-semi-bold: 700;
   
}

*,::before,::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--copy-font-size);
  background-color: var(--white);
  color: var(--dark-grayish-magenta);
  font-size: var(--body-font);
  line-height: 1.6;
}

h1,h2,h3,ul,p {
  margin: 0;
}

h1,h2,h3 {
  font-weight: var(--font-semi-bold);
  color: var(--very-dark-magenta);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.l-main {
  display: grid;
  grid-template: auto / 1fr;
}

.section {
  width: 100%;
  height: auto;
  padding: 3rem 2rem;
} 

.home .home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__container .home__title {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: var(--font-semi-bold);
}

.ranking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ranking .ranking__container .ranking__data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-magenta);
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: 5px;
}

.ranking__data .ranking__description {
  font-size: 1rem;
  color: var(--dark-grayish-magenta);
  font-weight: var(--font-medium);
}

.icon-star {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../images/icon-star.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments .comments__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comments .comments__card {
  width: auto;
  height: auto;
  padding: 1.2rem;
  background-color: var(--very-dark-magenta);
  border-radius: 10px;
  color: var(--light-grayish-magenta);
}

.comments .comments__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.comments .comments__data .comments__pic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.comments .comments__data .comments__name {
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  color: var(--white);
}

.comments__name span {
  font-size: .8rem;
  color: var(--soft-pink);
  font-weight: var(--font-medium);
}

.comments .comments__copy {
  font-size: 1rem;
  text-align: left;
}